<html>
   
   <head>
    <style>
      button{
        width:150px;
        height:40px;
        background-color: rgb(73, 70, 233);
        border-radius: 5px;
        border-color: bisque;
        color:beige;
      }
    </style>
     {% load static %}
       <link rel="stylesheet" href="{% static 'ss1.css' %}">
       <script type="text/javascript">
        function validate(){
          var phonenumber = form1.phonenumber.value;
          var mailformat = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
          var emailaddress = form1.email.value;
          if(isNaN(phonenumber))
          {
            alert("No alphabets allowed enter only numerical value");
            return false;
          }
          if( emailaddress == ""){
            alert("e-mail field cannot be empty");
            form1.email.focus();
            return false;
          }
          if (emailaddress.match(mailformat)){
            form1.email.focus();
            return true;
          }else {
            alert("Invalid e-mail address");
            form1.email.focus();
            return false;
          }
          return true;
        }
      </script>
   </head>
{% include "public.html" %}
<body>
<div class="container">
  <div class="left">
    <div class="header">
     
    </div>
    <div class="form">
        <form method="POST" action="/addclient/" name="form1" enctype="multipart/form-data"> 
          {% csrf_token %}
          <div class="row">
            <div class="col-25">
       Category:
      </div>
       <div class="col-75">
        <select class="form-field animation a3" style="width:200px;" name="category">
          <option value="0">please choose your </option>
          <option value="company">company</option>
          <option value="individual">individual</option>
          </select>
       </div>
          </div>
          <div class="row">
            <div class="col-25">
       Name:</div>
       <div class="col-75">
      <input type="text" class="form-field animation a3" placeholder="name" name="name" required>
       </div> </div>
       <div class="row">
        <div class="col-25">
       Address:</div>
       <div class="col-75">
      <textarea rows="5" cols="10" class="form-field animation a3" placeholder="Address" name="address" required style="width:200px;"> 
      </textarea> <br></div> </div>
      <div class="row">
        <div class="col-25">
       Phone:</div>
       <div class="col-75">
      <input type="tel" class="form-field animation a4" placeholder="phone" name="phone" maxlength="10" minlength="10" required><br>
       </div> </div>
      <div class="row">
        <div class="col-25"> 
      Email:</div>
      <div class="col-75">
      <input type="email" class="form-field animation a4" placeholder="email" name="email" required>
      </div>
      </div>
      <div class="row">
        <div class="col-25">ID Proof</div>
        <div class="col-75">
        <input type="file" class="form-field animation a4" name="resume" required>
      </div>
      </div>

     
      <button type="submit" name="submit" onclick="return validate();">
submit</button>
      </form>

    </div>
  </div>
  <div class="right"></div>
</div>
</body>
</html>
