<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 't.css' %}">
    </head>
    {% include "employee.html" %}
    <table id="customers">
        <tr>
            <th>employee id</th>
            <th>job name</th>
            <th>application date</th>
            <th>leave date</th>
            <th>days</th>
            <th>status</th>
         
        
        </tr>
        {% for va in data1 %}   
        <tr>
            <td>{{va.employee_id}}</td>
            <td>{{va.job_id}}</td>
            <td>{{va.application_date}}</td>
            <td>{{va.leave_date}}</td>
            <td>{{va.no_of_days}}</td>
           
            <td>{{va.status}}</td>
          
           
        </tr>
        {% endfor %}
    </table>
</html>