<html>
   
   <head>
  
    <style>
      button{
        width:150px;
        height:40px;
        background-color: rgb(73, 70, 233);
        border-radius: 5px;
        border-color: bisque;
        color:beige;
      }
    </style>
     {% load static %}
       <link rel="stylesheet" href="{% static 'ss1.css' %}">
   </head>
{% include "manager.html" %}
<body>
<div class="container">
  <div class="left">
    
    <div class="form">
        <form method="post" action="/loanprocess2/{{data.id}}" name="form1">
          {% csrf_token %}
          
          <div class="row">
            <div class="col-25">
        sanction date
        </div>
        <div class="col-75">
      <input type="date" class="form-field animation a3" placeholder="sanction date" name="sanctiondate" required>
    </div>
  </div>
    
  <button type="submit" class="animation a6">ADD</button>
    </form>
     
    </div>
  </div>
  <div class="right"></div>
</div>
</body>
</html>
