<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 't.css' %}">
    </head>
    {% include "employee.html" %}
    <table id="customers">
        <tr>
            <th>employee id</th>
            <th>loan amount</th>
            <th>recovery amount</th>
            <th>loan application date</th>
          
            <th>status</th>
         
         
        
        
        </tr>
        {% for va in data1 %}   
        <tr>
            <td>{{va.employee_id}}</td>
            <td>{{va.loan_amount}}</td>
            <td>{{va.recovery_amount}}</td>
            <td>{{va.loan_application_date}}</td>
            <td>{{va.status}}</td>
           
           
            
           
        </tr>
        {% endfor %}
    </table>
</html>