<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 't.css' %}">
    </head>
    {% include "adminheader.html" %}
    <table id="customers">
        <tr>
            <th>Interview ID</th>
            <th>vacancy number</th>
            <th>application number</th>
            <th>Interview Date</th>
            <th>Time</th>
            <th>Venue</th>
            <th>----</th>
            <th>----</th>
            <th>----</th>
        </tr>
        {% for va in data1 %}   
        <tr>
            <td>{{va.interview_id}}</td>
            <td>{{va.vacancy_no}}</td>
            <td>{{va.application_no}}</td>
            <td>{{va.interview_date}}</td>
            <td>{{va.time}}</td>
            <td>{{va.venue}}</td>
            <td>
                <a href="/selectionlist/{{va.interview_id}}">Add to Selection list</a>
            </td>
            <td>
                <a href="/vacancydetails/{{va.vacancy_no}}">vacancy details</a>
            </td>
            <td>
                <a href="/applicantdetails/{{va.application_no}}">applicant details</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</html>